@model ComicBookGallery.Models.ComicBook[]

@{
  ViewBag.Title = "comic Books";
}

<h2>@ViewBag.Title</h2>

<div class="row">
  @foreach (var comicBook in Model)
  {
    <div class="col-md-3">
      <h4>@Html.ActionLink(comicBook.Displaytext, "Detail", new { id = comicBook.id })</h4>
      <a href="@Url.Action("Detail", new { id = comicBook.id })">
        <img src="/Images/@comicBook.CoverImageFileName" alt="@comicBook.Displaytext" class="img-responsive" />
      </a>
    </div>
  }
</div>
